<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Rankings for {{state}}</div>
  <table class="table">
    <tr>
      <th>Focus Area</th>
      <th>Funds Requested</th>
      <th>Funds Received</th>
    </tr>
    <tr ng-repeat="row in detail">
      <td>{{row.primary_focus_area}}</td>
      <td>#{{row.donation_rank}}</td>
      <td>#{{row.request_rank}}</td>
    </tr>
  </table>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Poverty levels for {{state}}</div>
  <table class="table">
    <tr>
      <th>Poverty Level</th>
      <th>Rank</th>
    </tr>
    <tr ng-repeat="row in poverty">
      <td>{{row.poverty_level}}</td>
      <td>#{{row.school_count}}</td>
    </tr>
  </table>
</div>
